{% extends '::base.html.twig' %}
{% block body -%}
<nav class="navbar navbar-default navbar-static-top" style="background-color: #222">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('qcm_homepage')}}" style="color: #FEFEFE">QCM</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left">

                </form>

            </div>
        </div>
    </nav>
            
{% endblock %}