{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création question par réponse </h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reponseexacte') }}">
            retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
