{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="span4">
        {% include '::modulesUsed/utilisateursConnecter.html.twig' %}
    </div>
    
    <div class="col-md-10">
        <h2>Modidier mon mot de passe:</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                   
                    <form method="POST" action="{{ path('fos_user_change_password')}}">
                         {{ form_widget(form) }}
                        <br/>
                        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
                        
                    </form>
                  </div>
                
               
            </div>
        </div>

    </div>
</div>

